* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: sans-serif;
}

#sidebar {
  position:absolute;
  top: 0;
  left:0;
  bottom:0;
  width: 320px;
  height: 100%; 
}

#nav {
  height: 50px;
  font-size: 20px;  
  border-bottom: 1px solid #aaa;
}

#list {
  overflow-y: scroll;
  height: 100%;
}
/* @TODO add classname? */
#list > div {
  padding: 15px;
}
#list .selected {
  background: #eee;
}
#list .description-short {
  display: block;
}
#list .selected .description-short {
  display: none;
}
#list .description {
  display: none;
}
#list .selected .description {
  display: block;
}

#map {
  position:absolute;
  overflow:hidden;
  top:0;
  bottom:0;
  left:321px;
  right:0;
  border-left: 1px solid #aaa;
}