body {
  font-family: sans-serif;
}
#map {
  width: 300px;
  height: 200px;
}
#list {
  width: 300px;
}
#list .selected {
  background: #eee;
}
#list .description-short {
  display: block;
}
#list .selected .description-short {
  display: none;
}
#list .description {
  display: none;
}
#list .selected .description {
  display: block;
}
