* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 90%;
}

#sidebar {
  position:absolute;
  top: 0;
  left:0;
  bottom:0;
  width: 320px;
  height: 100%; 
}
#header {
  border-bottom: 1px solid #aaa;
}
#title {
  padding: 15px;
  border-bottom: 1px solid #aaa;
}
h1 {
  background: url(/images/logo.png) no-repeat 0 center;
  margin: 0;
  font-size: 1.6em;
  display: inline-block;
  padding-left: 40px;
}
#nav {
  text-align: center;
}
#prev, #week, #next {
  padding: 15px 15px;
  display: inline-block;
}
#week {
  text-align: center;
}
#week img {
  margin-bottom: -5px;
}
#prev {
  border-right: 1px solid #aaa;
  float: left;
}
#next {
  float: right;
  border-left: 1px solid #aaa;
}
#list {
  overflow-y: scroll;
  height: 100%;
}
/* @TODO add classname? */
#list > div {
  padding: 15px;
}
#list .selected {
  background: #eee;
}
#list .description-short {
  display: block;
}
#list .selected .description-short {
  display: none;
}
#list .description {
  display: none;
}
#list .selected .description {
  display: block;
}
h2 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
  size: 0.6em;
}
#map {
  position:absolute;
  overflow:hidden;
  top:0;
  bottom:0;
  left:321px;
  right:0;
  border-left: 1px solid #aaa;
}